@charset "utf-8";

$spacing-unit: 30px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import "functions";

$base-font-size: 16px;
$rem-base: $base-font-size;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px;

$hr-border-color: $grey-3;

$list-side-margin: 1.3rem;

$accordion-navigation-padding: rem-calc(12);

$accordion-content-active-bg-color: $body-bg;

$alert-font-size: rem-calc(15);

// We use this to set the background color for the breadcrumb container.
$crumb-bg: $grey-1;

$crumb-border-size: 0;

$crumb-border-color: $grey-1;
$crumb-radius: 0;

$crumb-slash: "/";

// We use these to control the background and border styles
$panel-bg: $grey-1;

// We use this to control padding.
$side-nav-padding: rem-calc(0 0 0 0);

$side-nav-list-margin: rem-calc(0 0 0 0);

// We use these to control link styles.
$side-nav-link-color: $primary-color;
$side-nav-link-color-active: scale-color($side-nav-link-color, $lightness: -40%);
$side-nav-link-color-hover: scale-color($side-nav-link-color, $lightness: -40%);
$side-nav-font-size: rem-calc(16);

// We use these to control border styles
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: $grey-1;

$table-even-row-bg: $grey-1;

// These control the table head styles
$table-head-bg: $grey-2;

// Height and margin
$topbar-height: rem-calc(50);

// Controlling the styles for the title in the top bar
$topbar-title-font-size: rem-calc(19);

$topbar-link-font-size: rem-calc(15);

$topbar-link-text-transform: uppercase;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;

// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: #{lower-bound($large-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})" !default;
