.site-footer {
  margin: 0;
  text-align: right;
  padding: 0.9rem;
  box-shadow: 0 0 3px #DDD;

  p {
    font-size: 0.6rem;
    color: #777;
    margin: 5px;
    padding: 0;
	line-height: normal;
  }

  @media (max-width: 1080px) {
    padding: 20px;
    text-align: left;
  }
}

#ds-reset .ds-powered-by {
  display: none;
}
