$width-sidebar: 16.66667%;

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $san-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: #556;
}

a {
  color: $primary-accent-color;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;

  &:hover {
	color: $primary-accent-color;
    border-bottom-color: $primary-accent-color;
  }
}

@media (max-width: 960px) {
  body {
    font-size: 16px;
  }
}

sub, sup {
  font-size: 50%;
}

time {
  font-family: Georgia,serif;
}

/**
 * Site Header
 */

.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: $width-sidebar;
  height: 100%;
  font-family: "Comic Sans MS",cursive,sans-serif;
  font-weight: bold;
  background-image: url(../images/backgroundPatternDark.png);
  box-shadow: 0 0 5px #AAA;
  z-index: 998;
}

.site-header a {
  border-bottom: none;
}

.site-header .brand {
  font-size: 1.8rem;
}

.site-header .brand > a {
  display: block;
  padding: 0 48px;
  line-height: 100px;
  transition: color 500ms;
  color: $primary-accent-color;
}

.site-header nav ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  font-size: 0.9rem;
}

.site-header nav ul > li {
  display: block;
}

.site-header nav ul > li > a {
  display: block;
  padding: 0 60px;
  line-height: 7ex;
  color: #777;
  transition: background-color 500ms;
  font-family: $san-serif;
  font-weight: normal;
}

.site-header nav ul > li.active {
  background-color: rgba(0, 0, 0, 0.08);
  border-left: 5px solid $primary-accent-color;
  margin-left: -5px;
}

.site-header nav ul > li.active > a {
  color: $primary-accent-color;
}

.site-header nav ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: $primary-accent-color;
}

.site-header nav ul > li > ul {
  padding: 0;
}

.site-header nav ul > li > ul > li.active {
  border-left: 5px solid darken($primary-accent-color, 6%);
}

.site-header nav ul > li > ul > li > a {
  padding-left: 60px;
  font-size: 0.9em;
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  padding: 20px 5.58333% 100px 22.25%;
  background-image: url(../images/backgroundPattern.png);
}

@media (max-width: 1080px) {
	.site-header {
		left: 0;
		top: 0;
		right: 0;
		width: auto;
		height: 33%;
		overflow-y: scroll;
		overflow-x: hidden;
		background: url(../images/bg_header.svg) no-repeat fixed center center;
		box-shadow: 0 0 5px #FF0000;
	}
	.site-header .brand {
		width: 50%;
		display: inline-block;
	}
	.site-header .brand > a {
		width: auto;
		display: inline;
		color: rgba(255,255,255,0.87);
	}
	.site-header nav {
		width: 50%;
		margin-left: 50%;
		margin-top: -85px;
	}
	.site-header nav ul {
		padding: 0;
	}
	.site-header nav ul li {
		width: 90%;
	}
	.site-header nav ul > li.active {
		background-color: rgba(0, 0, 0, 0.08);
		border-radius: 7px;
		border-left: none;
		margin-left: 0;
	}
	.site-header nav ul > li > a:hover {
	  background-color: rgba(0, 0, 0, 0.04);
	  border-radius: 7px;
	  color: rgba(255,255,255,0.87);
	}
	.site-header nav ul > li.active > a {
	  color: rgba(255,255,255,0.78);
	}
	.site-header nav ul li a {
		line-height: 5ex;
		color: rgba(255,255,255,0.78);
		font-weight: bold;
	}
	.site-wrapper {
		padding: 255px 5% 100px 5%;
	}
}


@import "content";

doublequote:before, .stressed-quote:before {
	content: "\201C";
    display: block;
    font-family: times;
    font-style: normal;
    font-size: 48px;
    color: #777;
    font-weight: bold;
    line-height: 30px;
    margin-left: 0px;
    position: absolute;
}

/**
 * Site Abstract
 */

.site-abstract {
  margin: 70px 0;
}

.site-abstract > header {
  margin-bottom: 20px;
}

.site-abstract > header h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: normal;
}

.site-abstract > header h1 a {
  color: #556;
  border-bottom: none;
  transition: color 500ms;
}

.site-abstract > header h1 a:hover {
  color: $primary-accent-color;
}

.site-abstract > .abstract > :not(p) {
  display: none;
}

.site-abstract > .abstract > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  font-size: 0.9rem;
  color: #778;
}

.site-abstract > footer {
  margin-top: 16px;
  font-size: 0.8rem;
  color: #778;
}

.site-abstract > footer a {
  color: $primary-accent-color;
  border-bottom: none;
  &:hover {
    color: $primary-accent-color;
  }
}

// Selection Styles
::selection {
    background: $primary-accent-color;
    color: #FFF;
}

@import "footer";
